@import "variables"
@import "prefixes"
/* RESET */
@import "min-reset"

.header
  position: relative
  overflow: hidden

  &::after
    content: ''
    width: 100vw
    border-bottom: 1px solid #e5e5e5
    position: absolute
    top: 60px
    z-index: 1

  &_left
    width: 89%

  &__container
    display: flex
    justify-content: space-between
    z-index: 2
    position: relative

  &_top
    width: 90%
    justify-content: space-between
    display: flex
    position: relative

  &__nav
    ul
      display: flex

    li
      margin-right: 40px
      margin-top: 23px

    a
      @include font(#000, $gothamBold, bold, 13px, 1)
      text-transform: uppercase
      padding-bottom: 23px
      @include transition(none)

      &:hover
        color: #797979
        @include transition(none)
        border-bottom: 1px solid #000

        .header__nav li

  &_bottom
    display: flex
    justify-content: space-between
    padding: 20px 0
    align-items: center

    .logo
      margin-right: 30px

  &__social
    display: flex

    li
      margin-right: 20px

  &__time
    p
      @include font($textBlack, $gothamRegular, normal, 15px)

    a
      @include font(#000, $gothamMedium, 500, 30px)

  &_right
    width: 10%
    text-align: center

    img
      width: 30px
      display: block
      margin: 0 auto

  &__cart
    background: url("../images/bg.png") bottom center no-repeat
    padding: 10px 10px 20px

    a
      @include font(#fff, $gothamBold, bold, 10px)

    &__price
      opacity: 0.8

    &__icon
      position: relative

      &__label
        display: flex
        align-items: center
        justify-content: center
        width: 15px
        height: 15px
        position: absolute
        background: #ffffff
        border: 1px solid #005e90
        +border-radius(50%)
        @include font(#e30613, $gothamBold, bold, 10px)
        right: 35%
        top: 0

      img
        margin-bottom: 5px


  &__user
    @include font(#005e90, $gothamBold, bold, 10px)
    text-decoration: underline

.search
  margin-top: 20px
  display: flex

  input[type="search"]
    border: none
    padding: 5px 0
    @include font($textBlack, $gothamRegular, normal, 15px)

  input[type="image"]
    width: 20px

.btn
  display: inline-block
  padding: 0 20px
  +border-radius(30px)
  border: #fff solid 2px
  +box-shadow($shadow: 0 0 5px rgba(0, 0, 0, 0.17))

  &_red
    @include font(#ffffff, $gothamRegular, normal, 12px, 50px)
    background: #e30613
    text-transform: uppercase
    box-sizing: border-box

.breadcrumbs
  width: 100%
  border-bottom: 1px solid #ccc

  &__container
    margin: 20px 10px 5px 10px
    display: flex

    > span
      margin: 0 15px

    span
      @include font($size: 14px, $line: 20px)

    a
      text-decoration: none
      @include transition(none)

      &:hover
        @include transition(none)
        text-decoration: underline $textBlack

.catalog
  padding: 30px 0

  h1
    @include font($textBlack, $bold, bold, 30px, 36px)
    background: #fff
    padding: 0 25px
    display: inline-block
    position: relative
    z-index: 1

  &__title
    position: relative
    text-align: center
    margin-bottom: 25px

    &::before
      position: absolute
      left: 0
      top: 50%
      content: ''
      width: 100%
      height: 1px
      background: #cecece

  &__container
    display: flex
    flex-wrap: wrap

    &__side
      width: 20%
      +box-sizing(border-box)
      padding-right: 30px

.side-filter-accordion__trigger
  display: block
  padding: 15px 20px
  background: #005e93
  position: relative
  color: #fff
  font-size: 16px
  line-height: 1

.side-filter-accordion__trigger:after
  position: absolute
  right: 20px
  top: 0
  bottom: 0
  content: ''
  margin: auto
  width: 5px
  height: 5px
  border-right: 1px solid #fff
  border-bottom: 1px solid #fff
  -webkit-transform: rotate(-45deg)
  -ms-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)
  -webkit-transition: all 0.4s ease 0s
  -o-transition: all 0.4s ease 0s
  transition: all 0.4s ease 0s

.side-filter-accordion__trigger--active:after
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)

.side-filter-accordion__body
  display: none

.side-filter-accordion-subgroup
  padding: 20px 0 0 0
  margin: 10px 0 0 0
  background: #eff4f8

.catalog-container *
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.side-filter-accordion-subgroup
  padding: 20px 0 0 0
  margin: 10px 0 0 0
  background: #eff4f8

.side-filter-accordion-subgroup__title
  margin: 0 20px 10px
  line-height: 1
  font-weight: 500
  @include font(#0c0c0c, $regular, normal, 16px)

.side-filter-item
  border-bottom: 1px solid #fff
  padding: 10px 20px

.side-filter-item__checklabel
  display: inline-block
  margin: 0
  padding: 0 0 0 36px
  position: relative
  color: #7a7a7a
  font-size: 16px
  line-height: 20px
  font-weight: 400
  text-align: left
  cursor: pointer

.side-filter-item__checkbox
  display: none

.side-filter-item__checkmark
  position: absolute
  left: 0
  top: 0
  bottom: 0
  display: inline-block
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%
  overflow: hidden
  width: 22px
  height: 22px
  background: #fff
  -webkit-transition: all 0.4s ease 0s
  -o-transition: all 0.4s ease 0s
  transition: all 0.4s ease 0s

.side-filter-item__checkmark:before
  position: absolute
  left: 0
  top: 0
  content: ''
  width: 100%
  height: 100%
  background-color: #005e93
  background-image: url(../images/icons/i-check-white.svg)
  background-size: 8px
  background-position: center
  background-repeat: no-repeat
  opacity: 0
  visibility: hidden
  -webkit-transition: all 0.4s ease 0s
  -o-transition: all 0.4s ease 0s
  transition: all 0.4s ease 0s

.side-filter-item__checklabel
  display: inline-block
  margin: 0
  padding: 0 0 0 36px
  position: relative
  @include font($textBlack, $regular, normal, 16px, 20px)
  color: #7a7a7a
  font-weight: 400
  text-align: left
  cursor: pointer

.side-filter-item__checklabel .side-filter-item__checkbox:checked ~ .side-filter-item__checkmark:before
  opacity: 1
  visibility: visible

.side-filter-item__checklabel .side-filter-item__checkbox:checked ~ .side-filter-item__name
  color: #000

.side-filter-apply
  margin: 10px 0 0 0

input[type="submit"].side-filter-apply__btn
  display: block
  padding: 14px
  background: #ff020b
  border: 2px solid #ff020b
  @include font(#fff, $bold, bold, 12px, 1)
  text-align: center
  text-transform: uppercase
  -webkit-transition: all 0.4s ease 0s
  -o-transition: all 0.4s ease 0s
  transition: all 0.4s ease 0s
  width: 100%
  margin-bottom: 5px

input[type="submit"].side-filter-apply__btn:hover, input[type="submit"].side-filter-apply__btn:focus
  background: #fff
  color: #ff020b
  text-decoration: none

button, html input[type="button"], input[type="reset"], input[type="submit"]
  cursor: pointer
  -webkit-appearance: button

input[type="button"].side-filter-reset__btn
  display: block
  padding: 14px
  background: #fff
  border: 2px solid #005e93
  color: #005e93
  font-size: 12px
  line-height: 1
  font-weight: 700
  text-align: center
  text-transform: uppercase
  -webkit-transition: all 0.4s ease 0s
  -o-transition: all 0.4s ease 0s
  transition: all 0.4s ease 0s
  width: 100%

input[type="button"].side-filter-reset__btn:hover, input[type="button"].side-filter-reset__btn:focus
  background: #005e93
  color: #fff
  text-decoration: none

form
  margin: 0 0 20px

.catalog-container__content
  width: 80%

.catalog-sort__title
  margin: 0 10px 0 0
  color: #000009
  font-size: 15px
  line-height: 18px

.catalog-sort__select
  padding: 0
  margin: 0
  width: auto
  border: none

.catalog-sort__select, .catalog-sort__select option
  color: #7a7a7a
  font-size: 15px
  line-height: 18px

.catalog-sort__title, .catalog-sort__select
  display: inline-block
  vertical-align: middle

.catalog__itemsList
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.catalog__item
  width: 24%
  margin-bottom: 30px

.pw-cat-product__img
  position: relative
  padding: 15px
  height: 215px
  border: 1px solid #eff4f8
  text-align: center

.pw-cat-product__img img
  max-height: 100%

.discountLabel__category
  color: #fff
  position: absolute
  left: 5px
  top: 5px
  width: 40px
  height: 40px
  border: 1px solid
  background: red
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%
  -webkit-transition: all 0.4s ease 0s
  -o-transition: all 0.4s ease 0s
  transition: all 0.4s ease 0s
  z-index: 200
  line-height: 36px
  text-align: center

.pw-cat-product__brand
  margin: 15px 0 0 0

.pw-cat-product__brandlink
  @include font($textBlack, $regular, normal, 12px)

.pw-cat-product__name
  margin: 5px 0 0 0

.pw-cat-product__namelink
  @include font(#000009, $regular, 500, 16px, 20px)

.pw-cat-product__price
  margin: 5px 0 0 0
  @include font(#ff020b, $regular, 500, 16px, 20px)

.s-product__oldprice_category
  font-size: 14px
  margin-left: 8px

.s-product__oldprice
  color: #7a7a7a
  font-size: 16px
  text-decoration: line-through

.pw-cat-product__more
  margin: 12px 0 0 0

.pw-cat-product__morebtn
  display: inline-block
  padding: 14px 30px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -ms-border-radius: 3px
  -o-border-radius: 3px
  border-radius: 3px
  background: #ff020b
  border: 2px solid #ff020b
  color: #fff
  font-size: 12px
  line-height: 1
  text-transform: uppercase
  text-align: center

.pw-cat-product__morebtn:hover
  background: #fff
  color: #ff020b
  text-decoration: none
  -webkit-transition: all 0.4s ease 0s
  -o-transition: all 0.4s ease 0s
  transition: all 0.4s ease 0s

.pagin-container
  margin: 30px 0 0 0
  width: 100%

.pagin--right
  text-align: right

.pagin ul
  margin: 0
  letter-spacing: -10px

.pagin__item
  vertical-align: middle
  display: inline-block
  width: 46px
  height: 46px
  background: #eff4f8
  color: #000009
  font-size: 16px
  line-height: 46px
  letter-spacing: 0
  text-align: center

.pagin__link
  position: relative
  display: block
  background: #eff4f8
  width: 46px
  height: 46px
  color: #000009
  font-size: 16px
  line-height: 46px
  -webkit-transition: all 0.4s ease 0s
  -o-transition: all 0.4s ease 0s
  transition: all 0.4s ease 0s

.pagin__link--first
  -webkit-border-radius: 5px 0 0 5px
  -moz-border-radius: 5px 0 0 5px
  -ms-border-radius: 5px 0 0 5px
  -o-border-radius: 5px 0 0 5px
  border-radius: 5px 0 0 5px

.pagin__link--first, .pagin__link--last
  background: #005e93
  color: #fff

.pagin__link--first:before
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)

.pagin__link--first:before, .pagin__link--last:before
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  content: ''
  width: 5px
  height: 5px
  margin: auto
  border-left: 1px solid #fff
  border-bottom: 1px solid #fff

.pagin__link--last:before
  -webkit-transform: rotate(-135deg)
  -ms-transform: rotate(-135deg)
  -o-transform: rotate(-135deg)
  transform: rotate(-135deg)

.footer
  border-top: #d9d9d9
  background: #4a4a4a
  margin-top: 20px

  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 20px 0

.social
  display: flex
  width: 30%
  li
    margin-right: 10px

    img
      width: 32px
      height: 32px

.footer__nav
  width: 50%
  display: flex
  justify-content: space-between

  ul
    width: 45%

    li
      text-align: center

    li a:hover, .bottom-menu ul li a:focus
      color: #ACACAC
      text-decoration: underline

    li a
      color: #ffffff

.copyright__container
  width: 100%
  text-align: center
  padding-top: 30px

.copyright
  color: #ACACAC
  text-align: center

.contact__contaier
  width: 20%

.contact
  margin-left: auto
  text-align: right
  max-width: 200px

  p
    @include font(#ACACAC, $regular, normal, 14px, 1.2)

  a:hover
    text-decoration: underline

/* RESPONSIVE */
@import "responsive"
/* HAMBURGER */
@import "hamburger"