@font-face
  font-family: roboto
  src: url(../fonts/Roboto-Regular.ttf)

@font-face
  font-family: robotoBold
  src: url(../fonts/Roboto-Bold.ttf)

@font-face
  font-family: robotoItalic
  src: url(../fonts/Roboto-Italic.ttf)

//@font-face
//  font-family: Gotham
//  src: url('../fonts/GothamPro.eot?') format('embedded-opentype'), url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf') format('truetype')
//  font-weight: normal
//
//@font-face
//  font-family: GothamBold
//  src: url('../fonts/GothamPro-Bold.eot?') format('embedded-opentype'), url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.ttf') format('truetype')
//  font-weight: bold
//
//@font-face
//  font-family: GothamMedium
//  src: url('../fonts/GothamPro-Medium.eot?') format('embedded-opentype'), url('../fonts/GothamPro-Medium.woff') format('woff'), url('../fonts/GothamPro-Medium.ttf') format('truetype')
//  font-weight: 500

//  COLORS
$textBlack: #4A4A4A

//  SIZES
$fontSize: 16px

// RESPONSIVE SIZES

//  FONTS
$regular: roboto, sans-serif
$bold: robotoBold, sans-serif
$italic: robotoItalic, sans-serif
$gothamRegular: Gotham, sans-serif
$gothamBold: GothamBold, sans-serif
$gothamMedium: GothamMedium, sans-serif