@font-face
  font-family: roboto
  src: url(../fonts/Roboto-Regular.ttf)

@font-face
  font-family: robotoBold
  src: url(../fonts/Roboto-Bold.ttf)

@font-face
  font-family: robotoItalic
  src: url(../fonts/Roboto-Italic.ttf)

//  COLORS
$textBlack: #4A4A4A

//  SIZES
$fontSize: 16px

// RESPONSIVE SIZES

//  FONTS
$regular: roboto, sans-serif
$bold: robotoBold, sans-serif
$italic: robotoItalic, sans-serif
